<h2><%= name %></h2>
<h3><%= impressions %> impressions </h3>
<h3><%= uniqueCountRandom %> unique by random impressions </h3>
<h3><%= uniqueCountUid %> unique by uid impressions </h3>
/track/<%= id %>/pixel.png?uid=[user_id]&r=[random]
