<h2><%= name %></h2>
<h3><%= impressions %> impressions </h3>
<h3><%= uniqueCountRandom %> unique by random impressions </h3>
<h3><%= uniqueCountUid %> unique by uid impressions </h3>
<a href="/track/<%= id %>/pixel.png?uid=[user_id]&r=[random]">/track/<%= id %>/pixel.png?uid=[user_id]&r=[random]</a>
<br><br>
<a href="/advertiser/<%= advertiserId %>/dashboard">Back to Dashboard</a>
